[submodule "API/sinaweibopy"]
	path = API/sinaweibopy
	url = https://github.com/michaelliao/sinaweibopy.git
[submodule "API/weibo"]
	path = API/weibo
	url = https://github.com/lxyu/weibo.git
[submodule "happybase"]
	path = happybase
	url = https://github.com/wbolster/happybase.git
[submodule "API/weibo_login"]
	path = API/weibo_login
	url = https://github.com/liuzheng712/weibo_login.git
